.container {
  display: flex;
  flex-wrap: wrap;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 15rem;
  height: 15rem;
  margin-inline: 1rem;
}
.gradient {
  width: 100%;
  height: 100%;
}
.container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 18.5rem;
  border-radius: 10px;
  margin-bottom: 3rem;
  overflow: hidden;
}
.container:hover {
  box-shadow: var(--box-shadow-3);
}
.headerWrapper {
  width: 100%;
  height: 75%;
  /* one */
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 68% 42%,
      hsla(187, 91%, 68%, 1) 0,
      hsla(187, 91%, 68%, 0) 50%
    ),
    radial-gradient(
      at 34% 65%,
      hsla(267, 86%, 61%, 1) 0,
      hsla(267, 86%, 61%, 0) 50%
    ),
    radial-gradient(
      at 59% 73%,
      hsla(300, 89%, 68%, 1) 0,
      hsla(300, 89%, 68%, 0) 50%
    ),
    radial-gradient(
      at 42% 92%,
      hsla(198, 87%, 62%, 1) 0,
      hsla(198, 87%, 62%, 0) 50%
    ),
    radial-gradient(
      at 95% 91%,
      hsla(271, 90%, 65%, 1) 0,
      hsla(271, 90%, 65%, 0) 50%
    ),
    radial-gradient(
      at 10% 55%,
      hsla(108, 93%, 67%, 1) 0,
      hsla(108, 93%, 67%, 0) 50%
    ),
    radial-gradient(
      at 89% 31%,
      hsla(44, 85%, 65%, 1) 0,
      hsla(44, 85%, 65%, 0) 50%
    ); */

  /*2*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 90% 53%,
      hsla(139, 95%, 59%, 1) 0,
      hsla(139, 95%, 59%, 0) 50%
    ),
    radial-gradient(
      at 59% 39%,
      hsla(21, 87%, 63%, 1) 0,
      hsla(21, 87%, 63%, 0) 50%
    ),
    radial-gradient(
      at 7% 67%,
      hsla(270, 89%, 50%, 1) 0,
      hsla(270, 89%, 50%, 0) 50%
    ),
    radial-gradient(
      at 84% 10%,
      hsla(225, 94%, 69%, 1) 0,
      hsla(225, 94%, 69%, 0) 50%
    ),
    radial-gradient(
      at 71% 60%,
      hsla(110, 91%, 64%, 1) 0,
      hsla(110, 91%, 64%, 0) 50%
    ),
    radial-gradient(
      at 26% 62%,
      hsla(132, 86%, 52%, 1) 0,
      hsla(132, 86%, 52%, 0) 50%
    ),
    radial-gradient(
      at 92% 75%,
      hsla(273, 92%, 65%, 1) 0,
      hsla(273, 92%, 65%, 0) 50%
    ); */
  /*3*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 65% 59%,
      hsla(226, 85%, 67%, 1) 0,
      hsla(226, 85%, 67%, 0) 50%
    ),
    radial-gradient(
      at 8% 73%,
      hsla(84, 92%, 61%, 1) 0,
      hsla(84, 92%, 61%, 0) 50%
    ),
    radial-gradient(
      at 79% 23%,
      hsla(183, 85%, 52%, 1) 0,
      hsla(183, 85%, 52%, 0) 50%
    ),
    radial-gradient(
      at 41% 85%,
      hsla(137, 87%, 65%, 1) 0,
      hsla(137, 87%, 65%, 0) 50%
    ),
    radial-gradient(
      at 35% 71%,
      hsla(171, 93%, 69%, 1) 0,
      hsla(171, 93%, 69%, 0) 50%
    ),
    radial-gradient(
      at 7% 71%,
      hsla(153, 92%, 62%, 1) 0,
      hsla(153, 92%, 62%, 0) 50%
    ),
    radial-gradient(
      at 70% 35%,
      hsla(32, 91%, 62%, 1) 0,
      hsla(32, 91%, 62%, 0) 50%
    ); */
  /*4*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 51% 21%,
      hsla(127, 90%, 70%, 1) 0,
      hsla(127, 90%, 70%, 0) 50%
    ),
    radial-gradient(
      at 45% 57%,
      hsla(354, 88%, 53%, 1) 0,
      hsla(354, 88%, 53%, 0) 50%
    ),
    radial-gradient(
      at 99% 17%,
      hsla(239, 89%, 69%, 1) 0,
      hsla(239, 89%, 69%, 0) 50%
    ),
    radial-gradient(
      at 61% 67%,
      hsla(152, 94%, 54%, 1) 0,
      hsla(152, 94%, 54%, 0) 50%
    ),
    radial-gradient(
      at 86% 33%,
      hsla(80, 91%, 67%, 1) 0,
      hsla(80, 91%, 67%, 0) 50%
    ),
    radial-gradient(
      at 78% 45%,
      hsla(62, 85%, 64%, 1) 0,
      hsla(62, 85%, 64%, 0) 50%
    ),
    radial-gradient(
      at 19% 0%,
      hsla(211, 87%, 55%, 1) 0,
      hsla(211, 87%, 55%, 0) 50%
    ); */
  /*5*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 98% 15%,
      hsla(326, 94%, 54%, 1) 0,
      hsla(326, 94%, 54%, 0) 50%
    ),
    radial-gradient(
      at 13% 79%,
      hsla(203, 95%, 51%, 1) 0,
      hsla(203, 95%, 51%, 0) 50%
    ),
    radial-gradient(
      at 80% 84%,
      hsla(232, 94%, 62%, 1) 0,
      hsla(232, 94%, 62%, 0) 50%
    ),
    radial-gradient(
      at 15% 67%,
      hsla(337, 92%, 58%, 1) 0,
      hsla(337, 92%, 58%, 0) 50%
    ),
    radial-gradient(
      at 82% 53%,
      hsla(25, 93%, 68%, 1) 0,
      hsla(25, 93%, 68%, 0) 50%
    ),
    radial-gradient(
      at 6% 11%,
      hsla(161, 86%, 67%, 1) 0,
      hsla(161, 86%, 67%, 0) 50%
    ),
    radial-gradient(
      at 29% 6%,
      hsla(152, 93%, 70%, 1) 0,
      hsla(152, 93%, 70%, 0) 50%
    ),
    radial-gradient(
      at 64% 76%,
      hsla(1, 87%, 58%, 1) 0,
      hsla(1, 87%, 58%, 0) 50%
    ); */
  /*6*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 74% 5%,
      hsla(237, 87%, 56%, 1) 0,
      hsla(237, 87%, 56%, 0) 50%
    ),
    radial-gradient(
      at 11% 48%,
      hsla(19, 94%, 57%, 1) 0,
      hsla(19, 94%, 57%, 0) 50%
    ),
    radial-gradient(
      at 64% 19%,
      hsla(154, 88%, 66%, 1) 0,
      hsla(154, 88%, 66%, 0) 50%
    ),
    radial-gradient(
      at 25% 45%,
      hsla(152, 90%, 60%, 1) 0,
      hsla(152, 90%, 60%, 0) 50%
    ),
    radial-gradient(
      at 100% 83%,
      hsla(245, 88%, 53%, 1) 0,
      hsla(245, 88%, 53%, 0) 50%
    ),
    radial-gradient(
      at 16% 18%,
      hsla(47, 90%, 55%, 1) 0,
      hsla(47, 90%, 55%, 0) 50%
    ),
    radial-gradient(
      at 79% 1%,
      hsla(280, 90%, 70%, 1) 0,
      hsla(280, 90%, 70%, 0) 50%
    ),
    radial-gradient(
      at 43% 2%,
      hsla(114, 92%, 56%, 1) 0,
      hsla(114, 92%, 56%, 0) 50%
    ); */
  /*7*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 82% 56%,
      hsla(249, 93%, 55%, 1) 0,
      hsla(249, 93%, 55%, 0) 50%
    ),
    radial-gradient(
      at 14% 41%,
      hsla(142, 89%, 60%, 1) 0,
      hsla(142, 89%, 60%, 0) 50%
    ),
    radial-gradient(
      at 25% 35%,
      hsla(42, 90%, 68%, 1) 0,
      hsla(42, 90%, 68%, 0) 50%
    ),
    radial-gradient(
      at 89% 86%,
      hsla(216, 89%, 53%, 1) 0,
      hsla(216, 89%, 53%, 0) 50%
    ),
    radial-gradient(
      at 8% 25%,
      hsla(138, 87%, 60%, 1) 0,
      hsla(138, 87%, 60%, 0) 50%
    ),
    radial-gradient(
      at 39% 69%,
      hsla(137, 88%, 67%, 1) 0,
      hsla(137, 88%, 67%, 0) 50%
    ),
    radial-gradient(
      at 94% 70%,
      hsla(285, 90%, 51%, 1) 0,
      hsla(285, 90%, 51%, 0) 50%
    ),
    radial-gradient(
      at 18% 95%,
      hsla(166, 85%, 51%, 1) 0,
      hsla(166, 85%, 51%, 0) 50%
    ); */
  /*8*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 63% 60%,
      hsla(246, 85%, 58%, 1) 0,
      hsla(246, 85%, 58%, 0) 50%
    ),
    radial-gradient(
      at 36% 42%,
      hsla(106, 93%, 65%, 1) 0,
      hsla(106, 93%, 65%, 0) 50%
    ),
    radial-gradient(
      at 90% 77%,
      hsla(269, 86%, 61%, 1) 0,
      hsla(269, 86%, 61%, 0) 50%
    ),
    radial-gradient(
      at 44% 50%,
      hsla(276, 89%, 54%, 1) 0,
      hsla(276, 89%, 54%, 0) 50%
    ),
    radial-gradient(
      at 34% 58%,
      hsla(318, 93%, 50%, 1) 0,
      hsla(318, 93%, 50%, 0) 50%
    ),
    radial-gradient(
      at 26% 62%,
      hsla(59, 90%, 66%, 1) 0,
      hsla(59, 90%, 66%, 0) 50%
    ),
    radial-gradient(
      at 58% 30%,
      hsla(224, 92%, 52%, 1) 0,
      hsla(224, 92%, 52%, 0) 50%
    ),
    radial-gradient(
      at 4% 29%,
      hsla(18, 89%, 54%, 1) 0,
      hsla(18, 89%, 54%, 0) 50%
    ); */
  /*9*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 84% 96%,
      hsla(272, 85%, 58%, 1) 0,
      hsla(272, 85%, 58%, 0) 50%
    ),
    radial-gradient(
      at 97% 91%,
      hsla(309, 90%, 66%, 1) 0,
      hsla(309, 90%, 66%, 0) 50%
    ),
    radial-gradient(
      at 93% 87%,
      hsla(329, 89%, 66%, 1) 0,
      hsla(329, 89%, 66%, 0) 50%
    ),
    radial-gradient(
      at 25% 70%,
      hsla(252, 93%, 66%, 1) 0,
      hsla(252, 93%, 66%, 0) 50%
    ),
    radial-gradient(
      at 51% 7%,
      hsla(255, 89%, 68%, 1) 0,
      hsla(255, 89%, 68%, 0) 50%
    ),
    radial-gradient(
      at 99% 22%,
      hsla(336, 94%, 69%, 1) 0,
      hsla(336, 94%, 69%, 0) 50%
    ),
    radial-gradient(
      at 78% 98%,
      hsla(130, 92%, 64%, 1) 0,
      hsla(130, 92%, 64%, 0) 50%
    ),
    radial-gradient(
      at 62% 51%,
      hsla(26, 90%, 50%, 1) 0,
      hsla(26, 90%, 50%, 0) 50%
    ); */
  /*10*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 83% 95%,
      hsla(43, 88%, 56%, 1) 0,
      hsla(43, 88%, 56%, 0) 50%
    ),
    radial-gradient(
      at 35% 80%,
      hsla(25, 89%, 51%, 1) 0,
      hsla(65, 89%, 51%, 0) 50%
    ),
    radial-gradient(
      at 57% 83%,
      hsla(272, 85%, 56%, 1) 0,
      hsla(272, 85%, 56%, 0) 50%
    ),
    radial-gradient(
      at 83% 80%,
      hsla(47, 87%, 68%, 1) 0,
      hsla(47, 87%, 68%, 0) 50%
    ),
    radial-gradient(
      at 16% 25%,
      hsla(226, 91%, 58%, 1) 0,
      hsla(226, 91%, 58%, 0) 50%
    ),
    radial-gradient(
      at 1% 52%,
      hsla(170, 85%, 55%, 1) 0,
      hsla(170, 85%, 55%, 0) 50%
    ),
    radial-gradient(
      at 52% 17%,
      hsla(190, 92%, 30%, 1) 0,
      hsla(150, 92%, 60%, 0) 50%
    ),
    radial-gradient(
      at 84% 52%,
      hsla(221, 88%, 51%, 1) 0,
      hsla(221, 88%, 51%, 0) 50%
    ); */
  /*11*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 100% 95%,
      hsla(239, 87%, 65%, 1) 0,
      hsla(239, 87%, 65%, 0) 50%
    ),
    radial-gradient(
      at 15% 92%,
      hsla(268, 90%, 56%, 1) 0,
      hsla(268, 90%, 56%, 0) 50%
    ),
    radial-gradient(
      at 14% 53%,
      hsla(360, 95%, 53%, 1) 0,
      hsla(360, 95%, 53%, 0) 50%
    ),
    radial-gradient(
      at 56% 10%,
      hsla(40, 90%, 53%, 1) 0,
      hsla(40, 90%, 53%, 0) 50%
    ),
    radial-gradient(
      at 52% 8%,
      hsla(204, 92%, 68%, 1) 0,
      hsla(204, 92%, 68%, 0) 50%
    ),
    radial-gradient(
      at 54% 56%,
      hsla(182, 85%, 50%, 1) 0,
      hsla(182, 85%, 50%, 0) 50%
    ),
    radial-gradient(
      at 40% 17%,
      hsla(10, 88%, 68%, 1) 0,
      hsla(10, 88%, 68%, 0) 50%
    ),
    radial-gradient(
      at 63% 15%,
      hsla(219, 93%, 61%, 1) 0,
      hsla(219, 93%, 61%, 0) 50%
    ); */
  /*12*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 4% 33%,
      hsla(354, 87%, 61%, 1) 0,
      hsla(354, 87%, 61%, 0) 50%
    ),
    radial-gradient(
      at 79% 67%,
      hsla(236, 87%, 53%, 1) 0,
      hsla(236, 87%, 53%, 0) 50%
    ),
    radial-gradient(
      at 35% 52%,
      hsla(53, 93%, 59%, 1) 0,
      hsla(53, 93%, 59%, 0) 50%
    ),
    radial-gradient(
      at 93% 75%,
      hsla(234, 88%, 53%, 1) 0,
      hsla(234, 88%, 53%, 0) 50%
    ),
    radial-gradient(at 35% 6%, hsla(2, 91%, 56%, 1) 0, hsla(2, 91%, 56%, 0) 50%),
    radial-gradient(
      at 30% 86%,
      hsla(226, 91%, 63%, 1) 0,
      hsla(226, 91%, 63%, 0) 50%
    ),
    radial-gradient(
      at 91% 67%,
      hsla(158, 88%, 69%, 1) 0,
      hsla(158, 88%, 69%, 0) 50%
    ),
    radial-gradient(
      at 7% 4%,
      hsla(216, 86%, 69%, 1) 0,
      hsla(216, 86%, 69%, 0) 50%
    ); */
  /*13*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 95% 70%,
      hsla(327, 91%, 50%, 1) 0,
      hsla(327, 91%, 50%, 0) 50%
    ),
    radial-gradient(
      at 72% 45%,
      hsla(279, 92%, 70%, 1) 0,
      hsla(279, 92%, 70%, 0) 50%
    ),
    radial-gradient(
      at 50% 19%,
      hsla(136, 91%, 55%, 1) 0,
      hsla(136, 91%, 55%, 0) 50%
    ),
    radial-gradient(
      at 65% 33%,
      hsla(109, 94%, 67%, 1) 0,
      hsla(109, 94%, 67%, 0) 50%
    ),
    radial-gradient(
      at 71% 15%,
      hsla(169, 85%, 53%, 1) 0,
      hsla(169, 85%, 53%, 0) 50%
    ),
    radial-gradient(
      at 77% 86%,
      hsla(8, 91%, 55%, 1) 0,
      hsla(8, 91%, 55%, 0) 50%
    ),
    radial-gradient(
      at 32% 86%,
      hsla(41, 86%, 52%, 1) 0,
      hsla(41, 86%, 52%, 0) 50%
    ),
    radial-gradient(
      at 30% 34%,
      hsla(312, 85%, 69%, 1) 0,
      hsla(312, 85%, 69%, 0) 50%
    ); */
  /*14*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 23% 27%,
      hsla(183, 89%, 55%, 1) 0,
      hsla(183, 89%, 55%, 0) 50%
    ),
    radial-gradient(
      at 12% 80%,
      hsla(267, 85%, 56%, 1) 0,
      hsla(267, 85%, 56%, 0) 50%
    ),
    radial-gradient(
      at 49% 31%,
      hsla(57, 94%, 53%, 1) 0,
      hsla(57, 94%, 53%, 0) 50%
    ),
    radial-gradient(
      at 40% 50%,
      hsla(69, 89%, 51%, 1) 0,
      hsla(69, 89%, 51%, 0) 50%
    ),
    radial-gradient(
      at 42% 58%,
      hsla(198, 91%, 65%, 1) 0,
      hsla(198, 91%, 65%, 0) 50%
    ),
    radial-gradient(
      at 48% 23%,
      hsla(253, 85%, 58%, 1) 0,
      hsla(253, 85%, 58%, 0) 50%
    ),
    radial-gradient(
      at 2% 7%,
      hsla(144, 92%, 64%, 1) 0,
      hsla(144, 92%, 64%, 0) 50%
    ),
    radial-gradient(
      at 40% 55%,
      hsla(203, 91%, 65%, 1) 0,
      hsla(203, 91%, 65%, 0) 50%
    ); */
  /*15*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 67% 85%,
      hsla(202, 88%, 68%, 1) 0,
      hsla(202, 88%, 68%, 0) 50%
    ),
    radial-gradient(
      at 8% 50%,
      hsla(101, 86%, 66%, 1) 0,
      hsla(101, 86%, 66%, 0) 50%
    ),
    radial-gradient(
      at 12% 44%,
      hsla(111, 92%, 53%, 1) 0,
      hsla(111, 92%, 53%, 0) 50%
    ),
    radial-gradient(
      at 87% 3%,
      hsla(127, 89%, 68%, 1) 0,
      hsla(127, 89%, 68%, 0) 50%
    ),
    radial-gradient(
      at 10% 58%,
      hsla(140, 88%, 61%, 1) 0,
      hsla(140, 88%, 61%, 0) 50%
    ),
    radial-gradient(
      at 70% 93%,
      hsla(49, 90%, 50%, 1) 0,
      hsla(49, 90%, 50%, 0) 50%
    ),
    radial-gradient(
      at 9% 39%,
      hsla(135, 95%, 53%, 1) 0,
      hsla(135, 95%, 53%, 0) 50%
    ),
    radial-gradient(
      at 78% 26%,
      hsla(291, 85%, 70%, 1) 0,
      hsla(291, 85%, 70%, 0) 50%
    ); */
  /*16*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 42% 56%,
      hsla(338, 94%, 50%, 1) 0,
      hsla(338, 94%, 50%, 0) 50%
    ),
    radial-gradient(
      at 50% 23%,
      hsla(314, 91%, 55%, 1) 0,
      hsla(314, 91%, 55%, 0) 50%
    ),
    radial-gradient(
      at 27% 23%,
      hsla(332, 86%, 52%, 1) 0,
      hsla(332, 86%, 52%, 0) 50%
    ),
    radial-gradient(
      at 97% 41%,
      hsla(204, 85%, 63%, 1) 0,
      hsla(204, 85%, 63%, 0) 50%
    ),
    radial-gradient(
      at 76% 1%,
      hsla(138, 86%, 61%, 1) 0,
      hsla(138, 86%, 61%, 0) 50%
    ),
    radial-gradient(
      at 63% 93%,
      hsla(10, 94%, 65%, 1) 0,
      hsla(10, 94%, 65%, 0) 50%
    ),
    radial-gradient(
      at 87% 6%,
      hsla(295, 90%, 61%, 1) 0,
      hsla(295, 90%, 61%, 0) 50%
    ),
    radial-gradient(
      at 7% 76%,
      hsla(320, 88%, 63%, 1) 0,
      hsla(320, 88%, 63%, 0) 50%
    ); */
  /*17*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 100% 48%,
      hsla(91, 90%, 57%, 1) 0,
      hsla(91, 90%, 57%, 0) 50%
    ),
    radial-gradient(
      at 50% 83%,
      hsla(25, 88%, 70%, 1) 0,
      hsla(25, 88%, 70%, 0) 50%
    ),
    radial-gradient(
      at 48% 2%,
      hsla(152, 94%, 52%, 1) 0,
      hsla(152, 94%, 52%, 0) 50%
    ),
    radial-gradient(
      at 51% 14%,
      hsla(166, 89%, 50%, 1) 0,
      hsla(166, 89%, 50%, 0) 50%
    ),
    radial-gradient(
      at 41% 17%,
      hsla(152, 90%, 54%, 1) 0,
      hsla(152, 90%, 54%, 0) 50%
    ),
    radial-gradient(
      at 57% 54%,
      hsla(303, 91%, 66%, 1) 0,
      hsla(303, 91%, 66%, 0) 50%
    ),
    radial-gradient(
      at 85% 65%,
      hsla(121, 88%, 65%, 1) 0,
      hsla(121, 88%, 65%, 0) 50%
    ),
    radial-gradient(
      at 85% 91%,
      hsla(173, 95%, 59%, 1) 0,
      hsla(173, 95%, 59%, 0) 50%
    ); */
  /*18*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 26% 44%,
      hsla(339, 87%, 57%, 1) 0,
      hsla(339, 87%, 57%, 0) 50%
    ),
    radial-gradient(
      at 92% 48%,
      hsla(44, 89%, 63%, 1) 0,
      hsla(44, 89%, 63%, 0) 50%
    ),
    radial-gradient(
      at 83% 84%,
      hsla(33, 92%, 51%, 1) 0,
      hsla(33, 92%, 51%, 0) 50%
    ),
    radial-gradient(
      at 70% 79%,
      hsla(268, 92%, 50%, 1) 0,
      hsla(268, 92%, 50%, 0) 50%
    ),
    radial-gradient(
      at 42% 62%,
      hsla(101, 94%, 54%, 1) 0,
      hsla(101, 94%, 54%, 0) 50%
    ),
    radial-gradient(
      at 24% 22%,
      hsla(146, 93%, 56%, 1) 0,
      hsla(146, 93%, 56%, 0) 50%
    ),
    radial-gradient(
      at 63% 64%,
      hsla(276, 86%, 69%, 1) 0,
      hsla(276, 86%, 69%, 0) 50%
    ),
    radial-gradient(
      at 33% 14%,
      hsla(337, 91%, 67%, 1) 0,
      hsla(337, 91%, 67%, 0) 50%
    ); */
  /*19*/

  /* background-color: #26004d;
  background-image: radial-gradient(
      at 98% 90%,
      hsla(145, 88%, 52%, 1) 0,
      hsla(145, 88%, 52%, 0) 50%
    ),
    radial-gradient(
      at 30% 76%,
      hsla(247, 89%, 64%, 1) 0,
      hsla(247, 89%, 64%, 0) 50%
    ),
    radial-gradient(
      at 68% 18%,
      hsla(189, 93%, 63%, 1) 0,
      hsla(189, 93%, 63%, 0) 50%
    ),
    radial-gradient(
      at 36% 36%,
      hsla(211, 93%, 63%, 1) 0,
      hsla(211, 93%, 63%, 0) 50%
    ),
    radial-gradient(
      at 64% 67%,
      hsla(139, 87%, 51%, 1) 0,
      hsla(139, 87%, 51%, 0) 50%
    ),
    radial-gradient(
      at 15% 90%,
      hsla(195, 92%, 62%, 1) 0,
      hsla(195, 92%, 62%, 0) 50%
    ),
    radial-gradient(
      at 59% 59%,
      hsla(224, 92%, 60%, 1) 0,
      hsla(224, 92%, 60%, 0) 50%
    ),
    radial-gradient(
      at 74% 28%,
      hsla(96, 86%, 65%, 1) 0,
      hsla(96, 86%, 65%, 0) 50%
    ); */
  /*20*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 90% 36%,
      hsla(88, 88%, 67%, 1) 0,
      hsla(88, 88%, 67%, 0) 50%
    ),
    radial-gradient(
      at 44% 94%,
      hsla(49, 92%, 62%, 1) 0,
      hsla(49, 92%, 62%, 0) 50%
    ),
    radial-gradient(
      at 5% 49%,
      hsla(53, 91%, 64%, 1) 0,
      hsla(53, 91%, 64%, 0) 50%
    ),
    radial-gradient(
      at 67% 97%,
      hsla(141, 93%, 53%, 1) 0,
      hsla(141, 93%, 53%, 0) 50%
    ),
    radial-gradient(
      at 76% 90%,
      hsla(49, 94%, 70%, 1) 0,
      hsla(49, 94%, 70%, 0) 50%
    ),
    radial-gradient(
      at 36% 56%,
      hsla(202, 87%, 60%, 1) 0,
      hsla(202, 87%, 60%, 0) 50%
    ),
    radial-gradient(
      at 55% 29%,
      hsla(8, 90%, 67%, 1) 0,
      hsla(8, 90%, 67%, 0) 50%
    ),
    radial-gradient(
      at 99% 20%,
      hsla(229, 87%, 59%, 1) 0,
      hsla(229, 87%, 59%, 0) 50%
    ); */
  /*21*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 38% 24%,
      hsla(350, 93%, 56%, 1) 0,
      hsla(350, 93%, 56%, 0) 50%
    ),
    radial-gradient(
      at 33% 74%,
      hsla(292, 92%, 70%, 1) 0,
      hsla(292, 92%, 70%, 0) 50%
    ),
    radial-gradient(
      at 23% 6%,
      hsla(286, 94%, 61%, 1) 0,
      hsla(286, 94%, 61%, 0) 50%
    ),
    radial-gradient(
      at 71% 25%,
      hsla(72, 86%, 61%, 1) 0,
      hsla(72, 86%, 61%, 0) 50%
    ),
    radial-gradient(
      at 26% 79%,
      hsla(100, 87%, 58%, 1) 0,
      hsla(100, 87%, 58%, 0) 50%
    ),
    radial-gradient(
      at 76% 52%,
      hsla(356, 92%, 62%, 1) 0,
      hsla(356, 92%, 62%, 0) 50%
    ),
    radial-gradient(
      at 79% 96%,
      hsla(235, 85%, 70%, 1) 0,
      hsla(235, 85%, 70%, 0) 50%
    ),
    radial-gradient(
      at 56% 78%,
      hsla(328, 94%, 66%, 1) 0,
      hsla(328, 94%, 66%, 0) 50%
    ); */
  /*22*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 23% 92%,
      hsla(11, 88%, 66%, 1) 0,
      hsla(11, 88%, 66%, 0) 50%
    ),
    radial-gradient(
      at 9% 50%,
      hsla(180, 90%, 54%, 1) 0,
      hsla(180, 90%, 54%, 0) 50%
    ),
    radial-gradient(
      at 9% 18%,
      hsla(85, 93%, 64%, 1) 0,
      hsla(85, 93%, 64%, 0) 50%
    ),
    radial-gradient(
      at 35% 52%,
      hsla(233, 85%, 57%, 1) 0,
      hsla(233, 85%, 57%, 0) 50%
    ),
    radial-gradient(
      at 36% 63%,
      hsla(235, 85%, 51%, 1) 0,
      hsla(235, 85%, 51%, 0) 50%
    ),
    radial-gradient(
      at 43% 54%,
      hsla(129, 87%, 55%, 1) 0,
      hsla(129, 87%, 55%, 0) 50%
    ),
    radial-gradient(
      at 77% 67%,
      hsla(41, 87%, 60%, 1) 0,
      hsla(41, 87%, 60%, 0) 50%
    ),
    radial-gradient(
      at 27% 38%,
      hsla(71, 90%, 69%, 1) 0,
      hsla(71, 90%, 69%, 0) 50%
    ); */
  /*23*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 55% 41%,
      hsla(210, 91%, 59%, 1) 0,
      hsla(210, 91%, 59%, 0) 50%
    ),
    radial-gradient(
      at 30% 52%,
      hsla(346, 85%, 56%, 1) 0,
      hsla(346, 85%, 56%, 0) 50%
    ),
    radial-gradient(
      at 13% 70%,
      hsla(9, 90%, 62%, 1) 0,
      hsla(9, 90%, 62%, 0) 50%
    ),
    radial-gradient(
      at 3% 52%,
      hsla(320, 95%, 51%, 1) 0,
      hsla(320, 95%, 51%, 0) 50%
    ),
    radial-gradient(
      at 40% 20%,
      hsla(248, 92%, 65%, 1) 0,
      hsla(248, 92%, 65%, 0) 50%
    ),
    radial-gradient(
      at 10% 97%,
      hsla(3, 94%, 59%, 1) 0,
      hsla(3, 94%, 59%, 0) 50%
    ),
    radial-gradient(
      at 88% 54%,
      hsla(340, 94%, 68%, 1) 0,
      hsla(340, 94%, 68%, 0) 50%
    ),
    radial-gradient(
      at 17% 89%,
      hsla(306, 92%, 52%, 1) 0,
      hsla(306, 92%, 52%, 0) 50%
    ); */
  /*24*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 68% 46%,
      hsla(237, 86%, 50%, 1) 0,
      hsla(237, 86%, 50%, 0) 50%
    ),
    radial-gradient(
      at 50% 22%,
      hsla(196, 90%, 50%, 1) 0,
      hsla(196, 90%, 50%, 0) 50%
    ),
    radial-gradient(
      at 91% 30%,
      hsla(56, 89%, 66%, 1) 0,
      hsla(56, 89%, 66%, 0) 50%
    ),
    radial-gradient(
      at 90% 53%,
      hsla(340, 88%, 52%, 1) 0,
      hsla(340, 88%, 52%, 0) 50%
    ),
    radial-gradient(
      at 76% 74%,
      hsla(45, 91%, 69%, 1) 0,
      hsla(45, 91%, 69%, 0) 50%
    ),
    radial-gradient(
      at 7% 59%,
      hsla(317, 93%, 68%, 1) 0,
      hsla(317, 93%, 68%, 0) 50%
    ),
    radial-gradient(
      at 12% 22%,
      hsla(328, 91%, 65%, 1) 0,
      hsla(328, 91%, 65%, 0) 50%
    ),
    radial-gradient(
      at 93% 50%,
      hsla(357, 89%, 57%, 1) 0,
      hsla(357, 89%, 57%, 0) 50%
    ); */
  /*25*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 89% 41%,
      hsla(286, 89%, 53%, 1) 0,
      hsla(286, 89%, 53%, 0) 50%
    ),
    radial-gradient(
      at 11% 18%,
      hsla(30, 94%, 67%, 1) 0,
      hsla(30, 94%, 67%, 0) 50%
    ),
    radial-gradient(
      at 24% 16%,
      hsla(215, 90%, 65%, 1) 0,
      hsla(215, 90%, 65%, 0) 50%
    ),
    radial-gradient(
      at 26% 49%,
      hsla(224, 89%, 63%, 1) 0,
      hsla(224, 89%, 63%, 0) 50%
    ),
    radial-gradient(
      at 63% 40%,
      hsla(287, 95%, 56%, 1) 0,
      hsla(287, 95%, 56%, 0) 50%
    ),
    radial-gradient(
      at 55% 24%,
      hsla(81, 86%, 69%, 1) 0,
      hsla(81, 86%, 69%, 0) 50%
    ),
    radial-gradient(
      at 6% 48%,
      hsla(198, 93%, 63%, 1) 0,
      hsla(198, 93%, 63%, 0) 50%
    ),
    radial-gradient(
      at 38% 47%,
      hsla(5, 85%, 66%, 1) 0,
      hsla(5, 85%, 66%, 0) 50%
    ); */
  /*26*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 96% 84%,
      hsla(355, 95%, 70%, 1) 0,
      hsla(355, 95%, 70%, 0) 50%
    ),
    radial-gradient(
      at 76% 72%,
      hsla(139, 93%, 63%, 1) 0,
      hsla(139, 93%, 63%, 0) 50%
    ),
    radial-gradient(
      at 59% 56%,
      hsla(15, 91%, 69%, 1) 0,
      hsla(15, 91%, 69%, 0) 50%
    ),
    radial-gradient(
      at 49% 82%,
      hsla(138, 88%, 52%, 1) 0,
      hsla(138, 88%, 52%, 0) 50%
    ),
    radial-gradient(
      at 17% 71%,
      hsla(246, 93%, 59%, 1) 0,
      hsla(246, 93%, 59%, 0) 50%
    ),
    radial-gradient(
      at 64% 47%,
      hsla(50, 94%, 53%, 1) 0,
      hsla(50, 94%, 53%, 0) 50%
    ),
    radial-gradient(
      at 14% 53%,
      hsla(357, 94%, 58%, 1) 0,
      hsla(357, 94%, 58%, 0) 50%
    ),
    radial-gradient(
      at 9% 21%,
      hsla(235, 93%, 70%, 1) 0,
      hsla(235, 93%, 70%, 0) 50%
    ); */
  /*27*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 63% 100%,
      hsla(253, 91%, 61%, 1) 0,
      hsla(253, 91%, 61%, 0) 50%
    ),
    radial-gradient(
      at 68% 28%,
      hsla(263, 87%, 67%, 1) 0,
      hsla(263, 87%, 67%, 0) 50%
    ),
    radial-gradient(
      at 33% 7%,
      hsla(322, 92%, 65%, 1) 0,
      hsla(322, 92%, 65%, 0) 50%
    ),
    radial-gradient(
      at 65% 66%,
      hsla(210, 85%, 50%, 1) 0,
      hsla(210, 85%, 50%, 0) 50%
    ),
    radial-gradient(
      at 82% 1%,
      hsla(225, 87%, 58%, 1) 0,
      hsla(225, 87%, 58%, 0) 50%
    ),
    radial-gradient(
      at 8% 59%,
      hsla(196, 85%, 52%, 1) 0,
      hsla(196, 85%, 52%, 0) 50%
    ),
    radial-gradient(
      at 35% 60%,
      hsla(33, 88%, 61%, 1) 0,
      hsla(33, 88%, 61%, 0) 50%
    ),
    radial-gradient(
      at 8% 3%,
      hsla(47, 86%, 65%, 1) 0,
      hsla(47, 86%, 65%, 0) 50%
    ); */
  /*28*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 92% 45%,
      hsla(320, 95%, 55%, 1) 0,
      hsla(320, 95%, 55%, 0) 50%
    ),
    radial-gradient(
      at 91% 60%,
      hsla(63, 92%, 64%, 1) 0,
      hsla(63, 92%, 64%, 0) 50%
    ),
    radial-gradient(
      at 86% 83%,
      hsla(350, 85%, 50%, 1) 0,
      hsla(350, 85%, 50%, 0) 50%
    ),
    radial-gradient(
      at 5% 6%,
      hsla(353, 93%, 53%, 1) 0,
      hsla(353, 93%, 53%, 0) 50%
    ),
    radial-gradient(
      at 40% 25%,
      hsla(215, 86%, 54%, 1) 0,
      hsla(215, 86%, 54%, 0) 50%
    ),
    radial-gradient(
      at 16% 53%,
      hsla(183, 92%, 68%, 1) 0,
      hsla(183, 92%, 68%, 0) 50%
    ),
    radial-gradient(
      at 65% 14%,
      hsla(344, 87%, 66%, 1) 0,
      hsla(344, 87%, 66%, 0) 50%
    ),
    radial-gradient(
      at 36% 89%,
      hsla(231, 85%, 52%, 1) 0,
      hsla(231, 85%, 52%, 0) 50%
    ); */
  /*29*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 23% 61%,
      hsla(195, 87%, 52%, 1) 0,
      hsla(195, 87%, 52%, 0) 50%
    ),
    radial-gradient(
      at 98% 13%,
      hsla(98, 95%, 59%, 1) 0,
      hsla(98, 95%, 59%, 0) 50%
    ),
    radial-gradient(
      at 76% 78%,
      hsla(75, 85%, 51%, 1) 0,
      hsla(75, 85%, 51%, 0) 50%
    ),
    radial-gradient(
      at 93% 33%,
      hsla(285, 94%, 69%, 1) 0,
      hsla(285, 94%, 69%, 0) 50%
    ),
    radial-gradient(
      at 77% 48%,
      hsla(173, 91%, 64%, 1) 0,
      hsla(173, 91%, 64%, 0) 50%
    ),
    radial-gradient(
      at 65% 63%,
      hsla(81, 87%, 53%, 1) 0,
      hsla(81, 87%, 53%, 0) 50%
    ),
    radial-gradient(
      at 97% 2%,
      hsla(105, 90%, 66%, 1) 0,
      hsla(105, 90%, 66%, 0) 50%
    ),
    radial-gradient(
      at 24% 73%,
      hsla(118, 88%, 60%, 1) 0,
      hsla(118, 88%, 60%, 0) 50%
    ),
    radial-gradient(
      at 81% 9%,
      hsla(191, 90%, 61%, 1) 0,
      hsla(191, 90%, 61%, 0) 50%
    ); */
  /*30*/

  /* background-color: #26004d;
  background-image: radial-gradient(
      at 26% 14%,
      hsla(213, 87%, 52%, 1) 0,
      hsla(213, 87%, 52%, 0) 50%
    ),
    radial-gradient(
      at 54% 25%,
      hsla(20, 90%, 58%, 1) 0,
      hsla(20, 90%, 58%, 0) 50%
    ),
    radial-gradient(
      at 79% 26%,
      hsla(18, 86%, 54%, 1) 0,
      hsla(18, 86%, 54%, 0) 50%
    ),
    radial-gradient(
      at 70% 31%,
      hsla(352, 91%, 61%, 1) 0,
      hsla(352, 91%, 61%, 0) 50%
    ),
    radial-gradient(
      at 56% 16%,
      hsla(10, 85%, 63%, 1) 0,
      hsla(10, 85%, 63%, 0) 50%
    ),
    radial-gradient(
      at 72% 98%,
      hsla(353, 92%, 63%, 1) 0,
      hsla(353, 92%, 63%, 0) 50%
    ),
    radial-gradient(
      at 8% 20%,
      hsla(232, 89%, 54%, 1) 0,
      hsla(232, 89%, 54%, 0) 50%
    ),
    radial-gradient(
      at 43% 35%,
      hsla(339, 85%, 66%, 1) 0,
      hsla(339, 85%, 66%, 0) 50%
    ),
    radial-gradient(
      at 92% 62%,
      hsla(295, 87%, 59%, 1) 0,
      hsla(295, 87%, 59%, 0) 50%
    ); */
  /*31*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 7% 47%,
      hsla(237, 92%, 67%, 1) 0,
      hsla(237, 92%, 67%, 0) 50%
    ),
    radial-gradient(
      at 78% 40%,
      hsla(217, 88%, 63%, 1) 0,
      hsla(217, 88%, 63%, 0) 50%
    ),
    radial-gradient(
      at 17% 66%,
      hsla(352, 94%, 58%, 1) 0,
      hsla(352, 94%, 58%, 0) 50%
    ),
    radial-gradient(
      at 5% 34%,
      hsla(45, 95%, 52%, 1) 0,
      hsla(45, 95%, 52%, 0) 50%
    ),
    radial-gradient(
      at 19% 13%,
      hsla(196, 91%, 69%, 1) 0,
      hsla(196, 91%, 69%, 0) 50%
    ),
    radial-gradient(
      at 13% 97%,
      hsla(321, 86%, 56%, 1) 0,
      hsla(321, 86%, 56%, 0) 50%
    ),
    radial-gradient(
      at 38% 36%,
      hsla(278, 87%, 58%, 1) 0,
      hsla(278, 87%, 58%, 0) 50%
    ),
    radial-gradient(
      at 16% 36%,
      hsla(55, 87%, 68%, 1) 0,
      hsla(55, 87%, 68%, 0) 50%
    ),
    radial-gradient(
      at 93% 46%,
      hsla(321, 94%, 66%, 1) 0,
      hsla(321, 94%, 66%, 0) 50%
    ); */
  /*32*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 49% 77%,
      hsla(25, 92%, 69%, 1) 0,
      hsla(25, 92%, 69%, 0) 50%
    ),
    radial-gradient(
      at 99% 2%,
      hsla(138, 90%, 62%, 1) 0,
      hsla(138, 90%, 62%, 0) 50%
    ),
    radial-gradient(
      at 76% 5%,
      hsla(97, 85%, 62%, 1) 0,
      hsla(97, 85%, 62%, 0) 50%
    ),
    radial-gradient(
      at 53% 61%,
      hsla(174, 95%, 52%, 1) 0,
      hsla(174, 95%, 52%, 0) 50%
    ),
    radial-gradient(
      at 84% 22%,
      hsla(240, 89%, 62%, 1) 0,
      hsla(240, 89%, 62%, 0) 50%
    ),
    radial-gradient(
      at 83% 83%,
      hsla(318, 92%, 50%, 1) 0,
      hsla(318, 92%, 50%, 0) 50%
    ),
    radial-gradient(
      at 44% 49%,
      hsla(201, 91%, 60%, 1) 0,
      hsla(201, 91%, 60%, 0) 50%
    ),
    radial-gradient(
      at 93% 32%,
      hsla(342, 86%, 63%, 1) 0,
      hsla(342, 86%, 63%, 0) 50%
    ),
    radial-gradient(
      at 31% 49%,
      hsla(272, 88%, 65%, 1) 0,
      hsla(272, 88%, 65%, 0) 50%
    ); */
  /*33*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 13% 45%,
      hsla(224, 92%, 69%, 1) 0,
      hsla(224, 92%, 69%, 0) 50%
    ),
    radial-gradient(
      at 7% 81%,
      hsla(59, 91%, 63%, 1) 0,
      hsla(59, 91%, 63%, 0) 50%
    ),
    radial-gradient(
      at 52% 88%,
      hsla(305, 95%, 70%, 1) 0,
      hsla(305, 95%, 70%, 0) 50%
    ),
    radial-gradient(
      at 32% 62%,
      hsla(4, 85%, 64%, 1) 0,
      hsla(4, 85%, 64%, 0) 50%
    ),
    radial-gradient(
      at 48% 76%,
      hsla(43, 85%, 63%, 1) 0,
      hsla(43, 85%, 63%, 0) 50%
    ),
    radial-gradient(
      at 12% 78%,
      hsla(160, 88%, 51%, 1) 0,
      hsla(160, 88%, 51%, 0) 50%
    ),
    radial-gradient(
      at 38% 38%,
      hsla(33, 87%, 53%, 1) 0,
      hsla(33, 87%, 53%, 0) 50%
    ),
    radial-gradient(
      at 20% 28%,
      hsla(105, 95%, 54%, 1) 0,
      hsla(105, 95%, 54%, 0) 50%
    ),
    radial-gradient(
      at 13% 55%,
      hsla(301, 90%, 55%, 1) 0,
      hsla(301, 90%, 55%, 0) 50%
    ); */
  /*34*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 94% 2%,
      hsla(111, 94%, 62%, 1) 0,
      hsla(111, 94%, 62%, 0) 50%
    ),
    radial-gradient(
      at 11% 25%,
      hsla(201, 93%, 69%, 1) 0,
      hsla(201, 93%, 69%, 0) 50%
    ),
    radial-gradient(
      at 6% 16%,
      hsla(50, 91%, 63%, 1) 0,
      hsla(50, 91%, 63%, 0) 50%
    ),
    radial-gradient(
      at 34% 21%,
      hsla(4, 87%, 60%, 1) 0,
      hsla(4, 87%, 60%, 0) 50%
    ),
    radial-gradient(
      at 68% 8%,
      hsla(227, 88%, 64%, 1) 0,
      hsla(227, 88%, 64%, 0) 50%
    ),
    radial-gradient(
      at 0% 99%,
      hsla(46, 87%, 69%, 1) 0,
      hsla(46, 87%, 69%, 0) 50%
    ),
    radial-gradient(
      at 87% 47%,
      hsla(102, 95%, 52%, 1) 0,
      hsla(102, 95%, 52%, 0) 50%
    ),
    radial-gradient(
      at 87% 58%,
      hsla(322, 92%, 50%, 1) 0,
      hsla(322, 92%, 50%, 0) 50%
    ),
    radial-gradient(
      at 84% 50%,
      hsla(224, 89%, 66%, 1) 0,
      hsla(224, 89%, 66%, 0) 50%
    ); */
  /*35*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 94% 2%,
      hsla(18, 94%, 62%, 1) 0,
      hsla(18, 94%, 62%, 0) 50%
    ),
    radial-gradient(
      at 11% 25%,
      hsla(201, 93%, 69%, 1) 0,
      hsla(201, 93%, 69%, 0) 50%
    ),
    radial-gradient(
      at 6% 16%,
      hsla(50, 91%, 63%, 1) 0,
      hsla(50, 91%, 63%, 0) 50%
    ),
    radial-gradient(
      at 34% 21%,
      hsla(4, 87%, 60%, 1) 0,
      hsla(4, 87%, 60%, 0) 50%
    ),
    radial-gradient(
      at 68% 8%,
      hsla(227, 88%, 64%, 1) 0,
      hsla(227, 88%, 64%, 0) 50%
    ),
    radial-gradient(
      at 0% 99%,
      hsla(46, 87%, 69%, 1) 0,
      hsla(46, 87%, 69%, 0) 50%
    ),
    radial-gradient(
      at 87% 47%,
      hsla(102, 95%, 52%, 1) 0,
      hsla(102, 95%, 52%, 0) 50%
    ),
    radial-gradient(
      at 87% 58%,
      hsla(322, 92%, 50%, 1) 0,
      hsla(322, 92%, 50%, 0) 50%
    ),
    radial-gradient(
      at 84% 50%,
      hsla(224, 89%, 66%, 1) 0,
      hsla(224, 89%, 66%, 0) 50%
    ); */
  /*36*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 99% 68%,
      hsla(323, 94%, 62%, 1) 0,
      hsla(323, 94%, 62%, 0) 50%
    ),
    radial-gradient(
      at 61% 42%,
      hsla(142, 92%, 70%, 1) 0,
      hsla(142, 92%, 70%, 0) 50%
    ),
    radial-gradient(
      at 31% 85%,
      hsla(197, 90%, 58%, 1) 0,
      hsla(197, 90%, 58%, 0) 50%
    ),
    radial-gradient(
      at 52% 36%,
      hsla(29, 94%, 52%, 1) 0,
      hsla(29, 94%, 52%, 0) 50%
    ),
    radial-gradient(
      at 58% 59%,
      hsla(331, 91%, 56%, 1) 0,
      hsla(331, 91%, 56%, 0) 50%
    ),
    radial-gradient(
      at 87% 42%,
      hsla(343, 91%, 66%, 1) 0,
      hsla(343, 91%, 66%, 0) 50%
    ),
    radial-gradient(
      at 7% 91%,
      hsla(11, 95%, 57%, 1) 0,
      hsla(11, 95%, 57%, 0) 50%
    ),
    radial-gradient(
      at 4% 10%,
      hsla(262, 89%, 51%, 1) 0,
      hsla(262, 89%, 51%, 0) 50%
    ),
    radial-gradient(
      at 23% 66%,
      hsla(272, 88%, 69%, 1) 0,
      hsla(272, 88%, 69%, 0) 50%
    ); */
  /*37*/
  /* background-color: #26004d;
  background-image: radial-gradient(
      at 29% 6%,
      hsla(399, 92%, 55%, 1) 0,
      hsla(399, 92%, 55%, 0) 50%
    ),
    radial-gradient(
      at 48% 9%,
      hsla(144, 87%, 64%, 1) 0,
      hsla(144, 87%, 64%, 0) 50%
    ),
    radial-gradient(
      at 74% 23%,
      hsla(67, 90%, 66%, 1) 0,
      hsla(67, 90%, 66%, 0) 50%
    ),
    radial-gradient(
      at 45% 26%,
      hsla(141, 86%, 63%, 1) 0,
      hsla(141, 86%, 63%, 0) 50%
    ),
    radial-gradient(
      at 3% 13%,
      hsla(320, 91%, 65%, 1) 0,
      hsla(320, 91%, 65%, 0) 50%
    ),
    radial-gradient(
      at 22% 20%,
      hsla(174, 92%, 66%, 1) 0,
      hsla(174, 92%, 66%, 0) 50%
    ),
    radial-gradient(
      at 2% 60%,
      hsla(48, 91%, 51%, 1) 0,
      hsla(48, 91%, 51%, 0) 50%
    ),
    radial-gradient(
      at 36% 12%,
      hsla(239, 87%, 56%, 1) 0,
      hsla(239, 87%, 56%, 0) 50%
    ),
    radial-gradient(
      at 5% 38%,
      hsla(180, 94%, 60%, 1) 0,
      hsla(180, 94%, 60%, 0) 50%
    ); */
  /*37*/
  background-color: #26004d;
  background-image: radial-gradient(
      at 23% 40%,
      hsla(13, 88%, 64%, 1) 0,
      hsla(13, 88%, 64%, 0) 50%
    ),
    radial-gradient(
      at 57% 84%,
      hsla(50, 87%, 62%, 1) 0,
      hsla(50, 87%, 62%, 0) 50%
    ),
    radial-gradient(
      at 83% 30%,
      hsla(18, 90%, 58%, 1) 0,
      hsla(18, 90%, 58%, 0) 50%
    ),
    radial-gradient(
      at 58% 69%,
      hsla(348, 92%, 62%, 1) 0,
      hsla(348, 92%, 62%, 0) 50%
    ),
    radial-gradient(
      at 25% 99%,
      hsla(236, 91%, 58%, 1) 0,
      hsla(236, 91%, 58%, 0) 50%
    ),
    radial-gradient(
      at 20% 58%,
      hsla(226, 90%, 54%, 1) 0,
      hsla(226, 90%, 54%, 0) 50%
    ),
    radial-gradient(
      at 79% 90%,
      hsla(297, 92%, 56%, 1) 0,
      hsla(297, 92%, 56%, 0) 50%
    ),
    radial-gradient(
      at 97% 33%,
      hsla(336, 91%, 58%, 1) 0,
      hsla(336, 91%, 58%, 0) 50%
    ),
    radial-gradient(
      at 78% 0%,
      hsla(284, 93%, 61%, 1) 0,
      hsla(284, 93%, 61%, 0) 50%
    );
}
.header {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.footer {
  box-sizing: border-box;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1.1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.footer div {
  width: 100%;
}
.footer p {
  width: 50%;
  color: #fff;
  text-align: initial;
  width: fit-content;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 0.2rem;
  line-height: 1.5;
}
.footer p:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  right: 100%;
  background-color: #fff;
  transition: transform 0.5s;
}
.footer p:hover::after {
  transform: translateX(210%);
}
@media only screen and (max-width: 1330px) {
  .footer {
    height: 33%;
  }
}
@media only screen and (max-width: 1200px) {
  .footer {
    padding-inline: 0.2rem;
  }
}
