.container {
  width: 100%;
  height: calc(100vh - 60px);
  padding: 5.5rem 5rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2rem;
}
.specificCard {
  width: 100vw;
  height: 75vh;
}
.downloadBtn {
  margin: 2rem auto;
  border: 1px solid var(--gray-2);
  border-radius: 0.3rem;
  background-color: rgb(24 23 24) !important;
  width: 9rem;
  transition: all 0.3s;
  font-size: 1rem;
}
.downloadBtn:hover {
  box-shadow: var(--box-shadow-3);
}
@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 5.5rem 3rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 640px) {
  .container {
    padding: 5.5rem 2rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
